$textLight: #1b1b1b;
$bgLight: #f4f6fd;
$accentLight: #008cdd;
$textDark: #f4f6fd;
$bgDark: #1b1b1b;
$accentDark: #003553;


$duration: 100ms;
$breakpoint: 768px;

body {
  margin: 0;
  color: $textLight;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: $bgLight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
}

.nav {
  background: $bgDark;
  border-radius: 1rem 1rem 0 0;
  color: $textDark;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    position: fixed;
    padding: 1rem 2rem;
    top: 0;
    white-space: nowrap;

    a {
      color: $textLight;
      text-decoration: none;
    }
  }

  .menu {
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;

    li {
      list-style: none;
      width: 100%;
      padding: 0 .5rem;

      a {
        color: $textDark;
        text-decoration: none;
        
        div {
          padding: 1.4rem 0rem;
          font-size: 1rem;
          text-align: center;
          text-transform: uppercase;
          font-weight: 500;
          white-space: nowrap;
          transition: color $duration;
        }

        &:hover {
          color: $accentLight;
        }
      }
    }
  }

  .account {
    padding: 1rem 2rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .dl-button {
    position: fixed;
    display: flex;
    bottom: 5rem;
    right: 1rem;

    button {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 99999px;
      border: 0;
      background-color: $bgDark;
      color: $bgLight;
      font-size: 1.5rem;
    }
  }

  @media screen and (min-width: $breakpoint) {
    .logo {
      position: relative;
      top: 0;
      width: 100%;

      a {
        color: $textDark;
      }
    }

    .menu {
      justify-content: end;
      li div {
        font-size: 1rem;
        padding: 1.2rem 0rem;
      }
    }

    .dl-button {
      position: relative;
      bottom: 0;
      right: 0;

      button {
        width: 5rem;
        height: 4rem;
        font-size: 1rem;
        background: $accentLight;
        border-radius: 0;
      }
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .nav {
    top: 0;
    bottom: auto;
    border-radius: 0;
  }
}
